<!-- Show prompt if the user never signed up -->
<div ng-if="!infoCtrl.user" class="text-center">
  <h3>Not Signed Up Yet.</h3>
  <a ui-sref="public.signup">Sign up&nbsp;Now!</a>
</div>

<!-- Show profile once the user is saved -->
<div ng-if="infoCtrl.user" class="my-info">
  <h2>My&nbsp;Info</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <b>Name:</b> {{ infoCtrl.user.first }} {{ infoCtrl.user.last }}
    </li>
    <li class="list-group-item"><b>Email:</b> {{ infoCtrl.user.email }}</li>
    <li class="list-group-item"><b>Phone:</b> {{ infoCtrl.user.phone }}</li>

    <!-- Favourite dish -->
    <li class="list-group-item">
      <b>Favorite dish:</b>
      {{ infoCtrl.user.fav }}&nbsp;–&nbsp;{{ infoCtrl.user.item.name }}<br />

      <!-- Use the same local path and lower‑case file names as the menu view -->
      <img
        class="img-thumbnail"
        style="max-width: 200px"
        ng-src="images/menu/{{ infoCtrl.user.item.categoryShortName }}/{{ infoCtrl.user.item.short_name }}.jpg"
        alt="{{ infoCtrl.user.item.name }}"
        onerror="this.style.display='none';"
      />

      <p style="margin-top: 8px">{{ infoCtrl.user.item.description }}</p>
    </li>
  </ul>
</div>
